LISTEN_PORT=8080
PUBLIC_PORT=8080

LOG_LEVEL=info

MONGO_URI=mongodb://news_app_database:27017
MONGO_DATABASE=newsapp

# Unsplash API Configuration
UNSPLASH_ACCESS_KEY=EnMQWq35bvSCwqrS0k8OG_ywQZBE_QNjk8cigMHmvgk
UNSPLASH_APP_NAME=NewsApp